.background {
    background-color: brown;
}

.button {
    padding: 8px 16px;
    background-color: aqua;
    color: brown;
    cursor: pointer;
    width: fit-content;
}

.card_main_root {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.card_root {
    height: 10rem;
    width: 10rem;
    background-color: antiquewhite;
    border: 2px solid #be0909;
    color: #2d2d2d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8%;
}